.DS_Store
UserInterfaceState.xcuserstate
xcschememanagement.plist
build/UseOpenCVInSwiftDemo.build/Debug-iphoneos/UseOpenCVInSwiftDemo.build/dgph
build/UseOpenCVInSwiftDemo.build/Debug-iphoneos/UseOpenCVInSwiftDemo.build/dgph~
build/UseOpenCVInSwiftDemo.build/Release-iphoneos/UseOpenCVInSwiftDemo.build/dgph
